body {
    margin: 0;
    font-family: Arial;
    display: flex;
}

.sidebar {
    width: 200px;
    background: #111827;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar a {
    color: white;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

.content {
    padding: 20px;
    flex: 1;
}

input, textarea, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.card {
    background: #f3f4f6;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}
