.cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-weight: bold;
}
